@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('../app/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Ajusta según los pesos disponibles */
  font-style: normal; /* Estilo normal */
}

@font-face {
  font-family: 'Urbanist';
  src: url('../app/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Ajusta según los pesos disponibles */
  font-style: italic; /* Estilo cursiva */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff3131;
  --secondary: #808080;
  --backgroundLight: #f8f9fa;
  --textDark: #343a40;
  --accent: #ff6b6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

